body {
    font-family: monospace;
    background-color: hwb(180 62% 1%);
}

/* Om tekst te centeren */
.center {
    text-align: center;
}

/* navigatie */
nav {
    background-color: #80a1a1;
    font-size: 25px;
    max-width: 1200px;
    margin: auto;
}

.navList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navLink {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}

.navLink:hover {
    color: #fff;
}

.navCurrentPage {
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Main title */
h1 {
    text-decoration: underline;
    font-family: papyrus, fantasy;
}

article {
    background-color: #80a1a1;
}