h1 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.OuterWildsSection {
    background-color: black;
    color: #b6551b;
}

.OuterWildsPicture {
    float: right;
}

.OneShotSection {
    background-color:
        /*#c11b62*/
        #1b031c;
    color:
}

.OneShotLogo {
    width: 300px;
    height: auto;
}

.OneShotText {
    float: right;
    color: white;
    padding-right: 20px;
    text-shadow: 
    -0.35px -0.35px 0 #ffcf52,
    0.35px -0.35px 0 #ffcf52,
    -0.35px 0.35px 0 #ffcf52,
    0.35px 0.35px 0 #ffcf52;
}

.InscryptionSection {
    background-color: #020a0f;
    color: #f1aa5e;
    
}

.InscryptionPicture {
    float: right;
    Width: 450px;
    Height: auto;
}